@media screen and (max-width: 850px) {
    #desktop-nav {
        display: none;
    }
    #burger-nav {
        display: flex;
    }
    .detail-container {
        display: block;
    }
    #proj-wrapper {
        display: block;
    }
}
